# Name: Patel Shreni Pranav

# Data Science (Sem - 7)

In [1]:
# Importing libraries
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\Jatin\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#Loading data
data = pd.read_csv("car-data.csv")

In [3]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [4]:
data.shape

(6019, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [6]:
data.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  6019.000000  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   3009.000000  2013.358199       5.873838e+04     5.278735     9.479468
std    1737.679967     3.269742       9.126884e+04     0.808840    11.187917
min       0.000000  1998.000000       1.710000e+02     0.000000     0.440000
25%    1504.500000  2011.000000       3.400000e+04     5.000000     3.500000
50%    3009.000000  2014.000000       5.300000e+04     5.000000     5.640000
75%    4513.500000  2016.000000       7.300000e+04     5.000000     9.950000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [7]:
data.duplicated().any()

False

In [8]:
# Handling NaN values with mean imputation for numerical data
data_numeric = data.select_dtypes(include=[np.number])
data_numeric = data_numeric.fillna(data_numeric.mean())

# Handling NaN values with mode imputation for categorical data
data_categorical = data.select_dtypes(include=[np.object_])
data_categorical = data_categorical.fillna(data_categorical.mode().iloc[0])

# Combining the numerical and categorical data
data = pd.concat([data_numeric, data_categorical], axis=1)

In [9]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['Name']= label_encoder.fit_transform(data['Name'])
data['Location']= label_encoder.fit_transform(data['Location'])
data['Fuel_Type']= label_encoder.fit_transform(data['Fuel_Type'])
data['Transmission']= label_encoder.fit_transform(data['Transmission'])
data['Owner_Type']= label_encoder.fit_transform(data['Owner_Type'])
data['Power']= label_encoder.fit_transform(data['Power'])
data['Engine']= label_encoder.fit_transform(data['Engine'])
data['Mileage']= label_encoder.fit_transform(data['Mileage'])
data['New_Price']= label_encoder.fit_transform(data['New_Price'])

In [10]:
x = data.drop(columns = ['Unnamed: 0', 'Price'], axis = 1)

In [11]:
y=data['Price']

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [13]:
x_train.shape

(4815, 12)

In [14]:
x_test.shape

(1204, 12)

In [15]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [16]:
model = Sequential()
model.add(Dense(20, activation='relu', input_shape=(12,)))
model.add(Dense(14, activation='relu'))
model.add(Dense(1, activation='relu'))

In [17]:
model.compile(optimizer='adam',loss = 'mean_absolute_error',metrics = ['MAE'])

In [18]:
early_stopping = EarlyStopping(monitor='MAE', patience=3)

In [19]:
model.fit(x_train, y_train,epochs=80, validation_split=0.2, callbacks=[early_stopping])

Epoch 1/80
121/121 [==============================] - 1s 3ms/step - loss: 7.0066 - MAE: 7.0066 - val_loss: 4.5613 - val_MAE: 4.5613
Epoch 2/80
121/121 [==============================] - 0s 2ms/step - loss: 4.0961 - MAE: 4.0961 - val_loss: 3.4349 - val_MAE: 3.4349
Epoch 3/80
121/121 [==============================] - 0s 2ms/step - loss: 3.5295 - MAE: 3.5295 - val_loss: 3.2284 - val_MAE: 3.2284
Epoch 4/80
121/121 [==============================] - 0s 2ms/step - loss: 3.3476 - MAE: 3.3476 - val_loss: 3.0967 - val_MAE: 3.0967
Epoch 5/80
121/121 [==============================] - 0s 3ms/step - loss: 3.2340 - MAE: 3.2340 - val_loss: 2.9980 - val_MAE: 2.9980
Epoch 6/80
121/121 [==============================] - 0s 3ms/step - loss: 3.1556 - MAE: 3.1556 - val_loss: 2.9400 - val_MAE: 2.9400
Epoch 7/80
121/121 [==============================] - 0s 4ms/step - loss: 3.0879 - MAE: 3.0879 - val_loss: 2.8918 - val_MAE: 2.8918
Epoch 8/80
121/121 [==============================] - 0s 3ms/step - loss: 3.0282 - MAE: 3.0282 - val_loss: 2.8562 - val_MAE: 2.8562
Epoch 9/80
121/121 [==============================] - 0s 3ms/step - loss: 2.9779 - MAE: 2.9779 - val_loss: 2.8042 - val_MAE: 2.8042
Epoch 10/80
121/121 [==============================] - 0s 2ms/step - loss: 2.9291 - MAE: 2.9291 - val_loss: 2.7507 - val_MAE: 2.7507
Epoch 11/80
121/121 [==============================] - 0s 3ms/step - loss: 2.8863 - MAE: 2.8863 - val_loss: 2.7247 - val_MAE: 2.7247
Epoch 12/80
121/121 [==============================] - 0s 3ms/step - loss: 2.8369 - MAE: 2.8369 - val_loss: 2.6923 - val_MAE: 2.6923
Epoch 13/80
121/121 [==============================] - 0s 2ms/step - loss: 2.7961 - MAE: 2.7961 - val_loss: 2.6471 - val_MAE: 2.6471
Epoch 14/80
121/121 [==============================] - 0s 2ms/step - loss: 2.7528 - MAE: 2.7528 - val_loss: 2.6108 - val_MAE: 2.6108
Epoch 15/80
121/121 [==============================] - 0s 2ms/step - loss: 2.7155 - MAE: 2.7155 - val_loss: 2.5604 - val_MAE: 2.5604
Epoch 16/80
121/121 [==============================] - 0s 2ms/step - loss: 2.6826 - MAE: 2.6826 - val_loss: 2.5389 - val_MAE: 2.5389
Epoch 17/80
121/121 [==============================] - 0s 3ms/step - loss: 2.6472 - MAE: 2.6472 - val_loss: 2.5119 - val_MAE: 2.5119
Epoch 18/80
121/121 [==============================] - 0s 3ms/step - loss: 2.6073 - MAE: 2.6073 - val_loss: 2.4515 - val_MAE: 2.4515
Epoch 19/80
121/121 [==============================] - 0s 3ms/step - loss: 2.5688 - MAE: 2.5688 - val_loss: 2.4336 - val_MAE: 2.4336
Epoch 20/80
121/121 [==============================] - 0s 3ms/step - loss: 2.5339 - MAE: 2.5339 - val_loss: 2.3879 - val_MAE: 2.3879
Epoch 21/80
121/121 [==============================] - 0s 3ms/step - loss: 2.4972 - MAE: 2.4972 - val_loss: 2.3644 - val_MAE: 2.3644
Epoch 22/80
121/121 [==============================] - 0s 2ms/step - loss: 2.4591 - MAE: 2.4591 - val_loss: 2.3129 - val_MAE: 2.3129
Epoch 23/80
121/121 [==============================] - 0s 2ms/step - loss: 2.4357 - MAE: 2.4357 - val_loss: 2.3147 - val_MAE: 2.3147
Epoch 24/80
121/121 [==============================] - 0s 3ms/step - loss: 2.4091 - MAE: 2.4091 - val_loss: 2.2821 - val_MAE: 2.2821
Epoch 25/80
121/121 [==============================] - 0s 3ms/step - loss: 2.3769 - MAE: 2.3769 - val_loss: 2.2441 - val_MAE: 2.2441
Epoch 26/80
121/121 [==============================] - 0s 3ms/step - loss: 2.3483 - MAE: 2.3483 - val_loss: 2.2257 - val_MAE: 2.2257
Epoch 27/80
121/121 [==============================] - 0s 3ms/step - loss: 2.3172 - MAE: 2.3172 - val_loss: 2.2317 - val_MAE: 2.2317
Epoch 28/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2966 - MAE: 2.2966 - val_loss: 2.2181 - val_MAE: 2.2181
Epoch 29/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2826 - MAE: 2.2826 - val_loss: 2.1752 - val_MAE: 2.1752
Epoch 30/80
121/121 [==============================] - 0s 2ms/step - loss: 2.2503 - MAE: 2.2503 - val_loss: 2.1474 - val_MAE: 2.1474
Epoch 31/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2350 - MAE: 2.2350 - val_loss: 2.1358 - val_MAE: 2.1358
Epoch 32/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2199 - MAE: 2.2199 - val_loss: 2.1342 - val_MAE: 2.1342
Epoch 33/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2002 - MAE: 2.2002 - val_loss: 2.1154 - val_MAE: 2.1154
Epoch 34/80
121/121 [==============================] - 0s 2ms/step - loss: 2.1847 - MAE: 2.1847 - val_loss: 2.1100 - val_MAE: 2.1100
Epoch 35/80
121/121 [==============================] - 0s 2ms/step - loss: 2.1694 - MAE: 2.1694 - val_loss: 2.0947 - val_MAE: 2.0947
Epoch 36/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1565 - MAE: 2.1565 - val_loss: 2.1015 - val_MAE: 2.1015
Epoch 37/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1488 - MAE: 2.1488 - val_loss: 2.0719 - val_MAE: 2.0719
Epoch 38/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1335 - MAE: 2.1335 - val_loss: 2.0772 - val_MAE: 2.0772
Epoch 39/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1268 - MAE: 2.1268 - val_loss: 2.0607 - val_MAE: 2.0607
Epoch 40/80
121/121 [==============================] - 0s 2ms/step - loss: 2.1159 - MAE: 2.1159 - val_loss: 2.0628 - val_MAE: 2.0628
Epoch 41/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1110 - MAE: 2.1110 - val_loss: 2.0696 - val_MAE: 2.0696
Epoch 42/80
121/121 [==============================] - 0s 2ms/step - loss: 2.1020 - MAE: 2.1020 - val_loss: 2.0358 - val_MAE: 2.0358
Epoch 43/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0923 - MAE: 2.0923 - val_loss: 2.0350 - val_MAE: 2.0350
Epoch 44/80
121/121 [==============================] - 0s 2ms/step - loss: 2.0894 - MAE: 2.0894 - val_loss: 2.0382 - val_MAE: 2.0382
Epoch 45/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0813 - MAE: 2.0813 - val_loss: 2.0165 - val_MAE: 2.0165
Epoch 46/80
121/121 [==============================] - 0s 2ms/step - loss: 2.0678 - MAE: 2.0678 - val_loss: 2.0067 - val_MAE: 2.0067
Epoch 47/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0625 - MAE: 2.0625 - val_loss: 2.0217 - val_MAE: 2.0217
Epoch 48/80
121/121 [==============================] - 0s 2ms/step - loss: 2.0585 - MAE: 2.0585 - val_loss: 2.0064 - val_MAE: 2.0064
Epoch 49/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0489 - MAE: 2.0489 - val_loss: 2.0117 - val_MAE: 2.0117
Epoch 50/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0488 - MAE: 2.0488 - val_loss: 1.9976 - val_MAE: 1.9976
Epoch 51/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0367 - MAE: 2.0367 - val_loss: 2.0040 - val_MAE: 2.0040
Epoch 52/80
121/121 [==============================] - 0s 2ms/step - loss: 2.0386 - MAE: 2.0386 - val_loss: 2.0151 - val_MAE: 2.0151
Epoch 53/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0269 - MAE: 2.0269 - val_loss: 1.9832 - val_MAE: 1.9832
Epoch 54/80
121/121 [==============================] - 0s 2ms/step - loss: 2.0216 - MAE: 2.0216 - val_loss: 1.9777 - val_MAE: 1.9777
Epoch 55/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0182 - MAE: 2.0182 - val_loss: 1.9829 - val_MAE: 1.9829
Epoch 56/80
121/121 [==============================] - 0s 2ms/step - loss: 2.0158 - MAE: 2.0158 - val_loss: 1.9810 - val_MAE: 1.9810
Epoch 57/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0119 - MAE: 2.0119 - val_loss: 1.9785 - val_MAE: 1.9785
Epoch 58/80
121/121 [==============================] - 0s 2ms/step - loss: 2.0024 - MAE: 2.0024 - val_loss: 1.9881 - val_MAE: 1.9881
Epoch 59/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9986 - MAE: 1.9986 - val_loss: 1.9617 - val_MAE: 1.9617
Epoch 60/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9916 - MAE: 1.9916 - val_loss: 2.0015 - val_MAE: 2.0015
Epoch 61/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9891 - MAE: 1.9891 - val_loss: 1.9898 - val_MAE: 1.9898
Epoch 62/80

121/121 [==============================] - 0s 3ms/step - loss: 1.9881 - MAE: 1.9881 - val_loss: 1.9724 - val_MAE: 1.9724
Epoch 63/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9845 - MAE: 1.9845 - val_loss: 1.9468 - val_MAE: 1.9468
Epoch 64/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9762 - MAE: 1.9762 - val_loss: 1.9567 - val_MAE: 1.9567
Epoch 65/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9773 - MAE: 1.9773 - val_loss: 1.9606 - val_MAE: 1.9606
Epoch 66/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9686 - MAE: 1.9686 - val_loss: 1.9707 - val_MAE: 1.9707
Epoch 67/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9662 - MAE: 1.9662 - val_loss: 1.9372 - val_MAE: 1.9372
Epoch 68/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9661 - MAE: 1.9661 - val_loss: 1.9272 - val_MAE: 1.9272
Epoch 69/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9596 - MAE: 1.9596 - val_loss: 1.9309 - val_MAE: 1.9309
Epoch 70/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9566 - MAE: 1.9566 - val_loss: 1.9392 - val_MAE: 1.9392
Epoch 71/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9574 - MAE: 1.9574 - val_loss: 1.9219 - val_MAE: 1.9219
Epoch 72/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9489 - MAE: 1.9489 - val_loss: 1.9233 - val_MAE: 1.9233
Epoch 73/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9435 - MAE: 1.9435 - val_loss: 1.9336 - val_MAE: 1.9336
Epoch 74/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9429 - MAE: 1.9429 - val_loss: 1.9287 - val_MAE: 1.9287
Epoch 75/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9381 - MAE: 1.9381 - val_loss: 1.9466 - val_MAE: 1.9466
Epoch 76/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9354 - MAE: 1.9354 - val_loss: 1.9030 - val_MAE: 1.9030
Epoch 77/80
121/121 [==============================] - 0s 2ms/step - loss: 1.9320 - MAE: 1.9320 - val_loss: 1.9326 - val_MAE: 1.9326
Epoch 78/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9323 - MAE: 1.9323 - val_loss: 1.9055 - val_MAE: 1.9055
Epoch 79/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9248 - MAE: 1.9248 - val_loss: 1.9178 - val_MAE: 1.9178
Epoch 80/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9329 - MAE: 1.9329 - val_loss: 1.9035 - val_MAE: 1.9035

In [20]:
test_loss, test_mae = model.evaluate(x_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

38/38 [==============================] - 0s 2ms/step - loss: 2.1611 - MAE: 2.1611
Test Loss: 2.161057233810425, Test MAE: 2.161057233810425

In [21]:
y_pred = model.predict(x_test)
y_pred = np.argmax(y_pred, axis=1)

38/38 [==============================] - 0s 2ms/step